.list-group-item p {
	margin: 0;
}

.progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}​

.progress-bar, .progress {
	height: 15px;
}

.progress {
	margin: 5px 0 0 0;
	background: #464545;
}

.progress-bar {
	background: #222222;
}

.hidden {
	display: none;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #303030;
    border-top: 1px solid #222;
    z-index: 2;
}

.fix-body {
	margin-bottom: 100px;
}